extends layout

block link
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css')
  script(src='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css')
  script(src='https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js')
  link(rel='stylesheet' href='/css/newPost.css')

block content
  section.main-editor(data-post=post data-tags=tags)
    //- form.post-form(action='/post' method='post')
    .editor-title
      textarea#edit-title(placeholder='제목')
    .editor-tag
      textarea#edit-tag(placeholder='#태그명1 #태그명2')
    .editor
      textarea#md-editor
    .buttons
      button.btn#temp(disabled=true) 임시저장
      button.btn#publish(disabled=true) 등록
      span.title-error 제목을 입력하세요
  section.post-detail
    .private
      input#is-private(type='checkbox' name='private')
      | 나만 보이는 글
    //- form#thumbnail-form(action='/post/img' method='post' enctype='multipart/form-data')
    hr
    .thumbnail-preview
      div 미리보기 이미지
      img#img-preview(src='' alt='미리보기' onerror="this.src='placeholder.png'")
      input#img-url(type='hidden' name='url')
      .preview-buttons
        label#img-label(for='img') 사진 선택
        input#img(type='file' accept='image/*')
        button.cancel#cancel 취소
    hr
    .description 미리보기 한 줄 요약
      .editor-description
        textarea#edit-description(placeholder='100자 이내')
        .description-count
  script.
    var postTemp;
    var simplemde = new SimpleMDE({
      element: document.getElementById("md-editor"),
      autofocus: true,
      autoDownloadFontAwesome: true,
      forceSync: true,
      toolbar: ["bold", "italic", "strikethrough", "heading", "code", "quote", "unordered-list", "ordered-list", "link", "image", "table", "|", "preview", "guide"],
      placeholder: "Type here...",
      promptURLs: true,
      status: ["lines", "words", "cursor"],
      renderingConfig: {
        singleLineBreaks: false,
        codeSyntaxHighlighting: true
      },
      spellChecker: false,
      styleSelectedText: false,
      shortcuts: {
        "togglePreview": null,
      }
    });
    var post = document.querySelector('.main-editor').dataset.post;
    if(post) {
      post = JSON.parse(post);
      postTemp = post.id;
      document.getElementById('edit-title').value = post.title;
      simplemde.value(post.content);
      var tags = document.querySelector('.main-editor').dataset.tags;
      tags = JSON.parse(tags);
      if(tags) {
        document.getElementById('edit-tag').value = tags.join(' ');
      }
      document.querySelectorAll('.btn').forEach(function(btn) {
        btn.disabled = false;
        document.querySelector('.title-error').innerHTML = '';
      });
      document.getElementById('is-private').checked = post.is_private;
      if(post.thumbnail) {
        document.getElementById('img-url').value = post.thumbnail;
        document.getElementById('img-preview').src = post.thumbnail;
        document.getElementById('img-preview').style.display = 'inline';
      }
      document.getElementById('edit-description').value = post.description;
    }
    document.getElementById('edit-title').onkeyup = function() {
      if(this.value === '') {
        document.querySelectorAll('.btn').forEach(function(btn) {
          btn.disabled = true;
          document.querySelector('.title-error').innerHTML = '제목을 입력하세요';
        });
      } else {
        document.querySelectorAll('.btn').forEach(function(btn) {
          btn.disabled = false;
          document.querySelector('.title-error').innerHTML = '';
        });
      }
    };
    document.getElementById('edit-description').onkeyup = function() {
      //- var content = this.value;
      if(this.value.length > 100) {
        document.querySelector('.description-count').innerHTML = '최대 100자까지 입력 가능합니다.';
        this.value = this.value.substring(0, 100);
      } else {
        //- document.querySelector('.description-count').innerHTML = '';
      }
    };
    document.getElementById('temp').addEventListener('click', function() {
      var title = document.getElementById('edit-title').value;
      var data = {
        "id": postTemp,
        "title": title,
        "content": simplemde.value(),
        "tag": document.getElementById('edit-tag').value,
        "is_private": document.getElementById('is-private').checked,
        "description": document.getElementById('edit-description').value,
        "thumbnail": document.getElementById('img-url').value 
      }
      var xhr = new XMLHttpRequest();
      xhr.onload = function() {
        if(xhr.status === 200) {
          postTemp = JSON.parse(xhr.responseText);
          //- console.log(postTemp);
          alert('임시저장 되었습니다.');
        }
        if(xhr.status === 403) {
          alert('로그인이 필요합니다.');
        }
      };
      xhr.open('POST', '/post/temp');
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify(data));      
    });
    document.getElementById('publish').addEventListener('click', function() {
      var title = document.getElementById('edit-title').value;
      var data = {
        "id": postTemp,
        "title": title,
        "content": simplemde.value(),
        "tag": document.getElementById('edit-tag').value,
        "is_private": document.getElementById('is-private').checked,
        "description": document.getElementById('edit-description').value,
        "thumbnail": document.getElementById('img-url').value
      };
      var xhr = new XMLHttpRequest();
      xhr.onload = function() {
        if(xhr.status === 403) {
          alert('로그인이 필요합니다.');
        } else if(xhr.status === 201) {
          var username = JSON.parse(xhr.responseText)['username'];
          location.href = `/user/${username}`;
        }
      };
      xhr.open('POST', '/post');
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify(data));
    });
    document.getElementById('img').addEventListener('change', function (e) {
      var formData = new FormData();
      //- console.log(this, this.files);
      formData.append('img', this.files[0]);
      var xhr = new XMLHttpRequest();
      xhr.onload = function () {
        if (xhr.status === 200) {
          var url = JSON.parse(xhr.responseText).url;
          document.getElementById('img-url').value = url;
          document.getElementById('img-preview').src = url;
          document.getElementById('img-preview').style.display = 'inline';
        } else {
          console.error(xhr.responseText);
        }
      };
      xhr.open('POST', '/post/img');
      xhr.send(formData);
    });
    document.getElementById('cancel').addEventListener('click', function (e) {
      document.getElementById('img-url').value = '';
      document.getElementById('img-preview').src = 'placeholder.png';
    });