extends layout

block link
  //- link(rel='stylesheet' href='https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css')
  link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/a11y-light.min.css")
  script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js")
  script hljs.initHighlightingOnLoad()

  link(href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet")
  link(rel='stylesheet' href='/css/post.css')

block content
  .post-container(data-post-id=post.id)
    h1.post-title= post.title
    .post-info
      .post-author-image
        if post.User.thumbnail
          image(src=post.User.thumbnail alt='thumbnail')
        else
          i.material-icons#person-icon person
      .post-detail-info
        .post-author-name
          a(href=`/user/${post.User.username}`)= post.User.username
        .post-updated= post.published_at.toString().substring(4, 21)
    .post-tag
      for tag in tags
        span.tag= tag.name
      if post.thumbnail
        img.post-thumbnail(src=post.thumbnail)
    .post-content !{content}
    .post-like
      -const like = user && post.Liker && post.Liker.map(l => l.id).includes(user.id)
      if user && !like
        button.like
          i.material-icons favorite_border
      else if user && like
        button.unlike
          i.material-icons favorite
    .top-btn
      a(href='#') TOP
    //- .pagination
    //-   if prev
    //-     button.prev-post= prev.title.substring(0, 25)
    //-   if next
    //-     button.next-post= next.title.substring(0, 25)
    .comments
      -const commentLength = comments? comments.length : 0
      h4= `${commentLength}개의 댓글`
      for comment in comments
        .comment
          .comment-author= comment.User.username
          .comment-content= comment.content
          .comment-info= comment.createdAt
    if user
      form#comment-form(action=`/comments?postId=${post.id}` method='post')
        textarea#comment-content(name='content' placeholder='댓글을 입력하세요.')
        button.write(type='button') 댓글 쓰기
        span.comment-error
  script.
    var likeBtn = document.querySelector('.like');
    if(likeBtn) {
      likeBtn.addEventListener('click', function() {
        var post = document.querySelector('.post-container');
        var postId = post.dataset.postId;
        var xhr = new XMLHttpRequest();
        xhr.onload = function () {
          if (xhr.status === 200) {
            location.reload();
          } else {
            console.error(xhr.responseText);
          }
        };
        xhr.open('POST', '/post/' + postId + '/like');
        xhr.send();
      });
    }
    var unlikeBtn = document.querySelector('.unlike');
    if(unlikeBtn) {
      unlikeBtn.addEventListener('click', function() {
        console.log('unlike!!')
        var post = document.querySelector('.post-container');
        var postId = post.dataset.postId;
        console.log('postid:', postId);
        var xhr = new XMLHttpRequest();
        xhr.onload = function () {
          if (xhr.status === 200) {
            location.reload();
          } else {
            console.error(xhr.responseText);
          }
        };
        xhr.open('POST', '/post/' + postId + '/unlike');
        xhr.send();
      });
    }
    document.querySelector('.write').addEventListener('click', function() {
      var content = document.getElementById('comment-content').value;
      if(!content) {
        console.log('this', this);
        console.log('parent', this.parentNode)
        this.parentNode.querySelector('.comment-error').innerHTML = '댓글을 입력하세요.'
      } else {
        document.getElementById('comment-form').submit();
      }
    })
