extends layout

block link
  link(rel="stylesheet", href="/css/user.css")

block content
  .main-container
    .profile
      div=user.username
    nav
      button.nav-btn.selected#new-order 최신순
      button.nav-btn#like-order(onclick='location.href="/like"') 좋아요순
    .user-tags
      for tag in Object.keys(tags)
        .tag
          span.tag-name= tag
          span.tag-num= tags[tag]
    .posts
      for post in posts
        .post-card
          button.post(onclick=`location.href='/post/${post.User.username}/${post.id}'`)
            input#post-author-id(type='hidden' value=post.User.username)
            input#post-id(type='hidden' value=post.id)
            .post-left
              .post-top
                .post-title= post.title.length > 25 ? post.title.substring(0, 25) + '...' : post.title
                if(post.description)
                  -const content = post.description.length > 70 ? post.description.substring(0, 70) + '...' : post.description
                  .post-content= content
              .post-bottom
                .post-info
                  .post-author-image
                    if(post.User.thumbnail)
                      image(src=post.User.thumbnail alt='thumbnail')
                    else
                      i.material-icons#person-icon person
                  .post-detail-info
                    .post-author-name= post.User.username
                    .post-updated= post.updatedAt.toString().substring(4, 24)
                .post-like
                  i.material-icons#favorite-icon favorite
                  .like-number=post.likes
            if(post.thumbnail)
              .post-right
                image#post-thumbnail(src=`${post.thumbnail}` alt='thumbnail')
  //- script.
  //-   document.getElementById('new-order').addEventListener('click', function() {
  //-     if(!this.classList.contains('selected')) {
  //-       this.classList.add('selected');
  //-       document.getElementById('like-order').classList.remove('selected');
  //-       var xhr = new XMLHttpRequest();
  //-       xhr.onload = function() {
  //-         if (xhr.status === 200 || xhr.status === 201) {
  //-           console.log(xhr.responseText);
  //-         } else {
  //-           console.error(xhr.responseText);
  //-         }
  //-       };
  //-       xhr.open('GET', '/');
  //-       xhr.send();
  //-     }
  //-   });
  //-   document.getElementById('like-order').addEventListener('click', function() {
  //-     if(!this.classList.contains('selected')) {
  //-       this.classList.add('selected');
  //-       document.getElementById('new-order').classList.remove('selected');
  //-       var xhr = new XMLHttpRequest();
  //-       xhr.onload = function() {
  //-         if (xhr.status === 200 || xhr.status === 201) {
  //-           //- console.log(xhr.responseText);
            
  //-         } else {
  //-           console.error(xhr.responseText);
  //-         }
  //-       };
  //-       xhr.open('GET', '/like');
  //-       xhr.send();
  //-     }
  //-   })
  //-   document.querySelectorAll('.post').forEach(function(post) {
  //-     post.addEventListener('click', function() {
  //-       var postAuthorId = post.querySelector('#post-author-id').value;
  //-       var postId = post.querySelector('#post-id').value;
  //-       var xhr = new XMLHttpRequest();
  //-       xhr.onload = function() {
  //-         if(xhr.status === 200) {
  //-           console.error(xhr.responseText);
  //-         } else {
  //-           console.error(xhr.responseText);
  //-         }
  //-       }
  //-     })
  //-   });