extends layout

block link
  link(rel="stylesheet", href="/css/userTemp.css")

block content
  .main-container
    .profile
      div=owner.username
    nav
      button.nav-btn#new-order(onclick=`location.href="/user/${owner.username}"`) 최신순
      button.nav-btn#like-order(onclick=`location.href="/user/${owner.username}/likes"`) 좋아요한 글
      if user.id === owner.id
        button.nav-btn.btn-selected#like-order 임시글
    .posts
      for post in posts
        .post-card
          button.post(onclick=`location.href='/post?id=${post.id}'`)
            //- input#post-id(type='hidden' value=post.id)
            .post-left
              .post-top
                .post-title= post.title.length > 25 ? post.title.substring(0, 25) + '...' : post.title
              .post-detail-info
                .post-updated= post.updatedAt.toString().substring(4, 24)
          button.delete.btn(data-post-id=post.id) 삭제
  script.
    document.querySelectorAll('.delete').forEach(function (tag) {
      tag.addEventListener('click', function () {
        if(confirm('삭제하시겠습니까?')) {
          var xhr = new XMLHttpRequest();
          xhr.onload = function () {
            if (xhr.status === 200) {
              location.reload();
            } else {
              console.error(xhr.responseText);
            }
          };
          xhr.open('DELETE', '/post/' + this.dataset.postId);
          xhr.send();
        }
      });
    });
  //-     if(!this.classList.contains('selected')) {
  //-       this.classList.add('selected');
  //-       document.getElementById('like-order').classList.remove('selected');
  //-       var xhr = new XMLHttpRequest();
  //-       xhr.onload = function() {
  //-         if (xhr.status === 200 || xhr.status === 201) {
  //-           console.log(xhr.responseText);
  //-         } else {
  //-           console.error(xhr.responseText);
  //-         }
  //-       };
  //-       xhr.open('GET', '/');
  //-       xhr.send();
  //-     }
  //-   });
  //-   document.getElementById('like-order').addEventListener('click', function() {
  //-     if(!this.classList.contains('selected')) {
  //-       this.classList.add('selected');
  //-       document.getElementById('new-order').classList.remove('selected');
  //-       var xhr = new XMLHttpRequest();
  //-       xhr.onload = function() {
  //-         if (xhr.status === 200 || xhr.status === 201) {
  //-           //- console.log(xhr.responseText);
            
  //-         } else {
  //-           console.error(xhr.responseText);
  //-         }
  //-       };
  //-       xhr.open('GET', '/like');
  //-       xhr.send();
  //-     }
  //-   })
  //-   document.querySelectorAll('.post').forEach(function(post) {
  //-     post.addEventListener('click', function() {
  //-       var postAuthorId = post.querySelector('#post-author-id').value;
  //-       var postId = post.querySelector('#post-id').value;
  //-       var xhr = new XMLHttpRequest();
  //-       xhr.onload = function() {
  //-         if(xhr.status === 200) {
  //-           console.error(xhr.responseText);
  //-         } else {
  //-           console.error(xhr.responseText);
  //-         }
  //-       }
  //-     })
  //-   });